<div class="frame">
  <picture>
    <source
      [srcset]="'assets/dishes/' + menuItem.name + '_320.jpg'"
      type="image/jpg"
      media="all and (max-width: 320px)">
    <source
      [srcset]="'assets/dishes/' + menuItem.name + '_640.jpg'"
      type="image/jpg"
      media="all and (min-width: 321px) and (max-width: 640px)">
    <img class="image" [src]="'assets/dishes/' + menuItem.name + '_640.jpg'">
  </picture>

  <div class="nomination">{{ menuItem.name }}</div>
  <div *ngIf="dishesController.showIngredients" class="ingredients" @heightOpenClose>{{ menuItem.ingredients }}</div>
</div>

<div class="order-panel">
  <div class="counter">
    <button type="button" class="decrease" (click)="decrease()">-</button>
    <span class="total">{{ total }}</span>
    <button type="button" class="increase" (click)="increase()">+</button>
  </div>
  <button type="button" (click)="addToCart()">Add</button>
</div>
