//---------TOP LINE---------

.frame:before {
  content: '';
  display: block;
  height: 2px; width: 20%;
  background-color: white;
  position: absolute; top: -4%; left: 50%;
  transform: translateX(-50%);
  border-radius: 10%;
}

.image {
  width: 100%;
}

.nomination {
  padding: 0 0.25rem 0.25rem 0.25rem;
  font-size: 1.25rem;
}

.ingredients {
  padding: 0 0.25rem 0.25rem 0.25rem;
}

.order-panel {
  display: flex; justify-content: space-between;
  padding: 0.5rem;

  button {
    border: none;
    border-radius: 8px;
  }

  .counter {
    display: flex; align-items: center;
    margin-right: 1rem;

    .total {
      font-size: 1.25rem;
      padding: 0 1rem;
      height: 100%;
      display: flex; align-items: center;
    }

    button {
      padding: 0 2rem;
      font-size: 2rem;
    }
  }

  .add {
    flex-grow: 1;
    font-weight: bold;
  }
}

.order-panel_shadow {
  box-shadow: 0 5px 10px 0 black;
}
