<div class="frame">
  <img class="image" [src]="'assets/' + positionsType + '/' + position.name + '_640.jpg'">

  <div class="nomination">{{ position.name }}</div>
  <div *ngIf="positionsController.showIngredients" class="ingredients" @heightOpenClose>{{ position.ingredients }}</div>
</div>

<div
  class="order-panel"
  [ngClass]="{ 'order-panel_shadow': !positionsController.showIngredients }">
  <div class="counter">
    <button
      type="button"
      class="decrease"
      [disabled]="total === 0"
      (click)="decrease()">-
    </button>
    <div class="total">{{ total }}</div>
    <button
      type="button"
      class="increase"
      [disabled]="total > 5"
      (click)="increase()">+
    </button>
  </div>
  <button class="add" type="button" (click)="addToCart()">Add</button>
</div>
