<div
  *ngIf="cart"
  class="cart"
  [style.height]="isSpread ? '100vh' : 'auto'"
  (click)="openDetails()">

  <header>
    <ion-icon name="close-outline" class="close" (click)="closeDetails(); $event.stopPropagation()"></ion-icon>
    <div class="cart-icon"></div>
    <div class="cart-name">{{ 'Cart:' }}</div>
    <div class="cart-total">{{ cart.totalPositions }}</div>
  </header>

  <main *ngIf="isSpread">
    <h2 class="dishes">Dishes</h2>

    <div *ngFor="let dish of cart.dishes" class="dish">
      <div class="dish__position">{{ dish.key }}</div>
      <div class="dish__amount">{{ dish.value }}</div>
      <ion-icon name="trash-outline" class="dish__remove-icon" (click)="removeMenuItem(dish); $event.stopPropagation()"></ion-icon>
    </div>
  </main>

</div>
