.cart {
  display: flex; flex-direction: column;
  position: sticky; top: 0; z-index: 2;
  height: 5vh;
  background-color: yellow;

  header {
    display: flex; justify-content: center; align-items: center;
    position: relative;
    height: 5vh;
  }

  .cart-icon {
    margin-right: 0.5rem;
  }

  .cart-total {
    padding: 2px 6px;
    margin-left: .25rem;
    border-radius: 10%;
    background-color: #7ed321;
  }

  .dish {
    display: flex;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: .5rem;

    .dish__amount {
      margin-left: 1rem;
    }

    .dish__remove-icon {
      font-size: 1.5rem;
      margin-left: auto;
    }
  }
}

.section {
  padding: 0 1rem;

  .dishes-header {
    margin-bottom: 1rem;
  }
}

.spread {
  background-color: yellow;
  transition: height 0.3s ease-in-out;
}

.close {
  position: absolute; right: 5%; top: 50%;
  transform: translateY(-50%);
  display: flex; flex-direction: column; justify-content: center;
  font-size: 2rem;
}

.table-id {
  border: 1px solid;
  border-radius: 6px;
  padding: .25rem .5rem;
  outline: none;
}

footer {
  margin-top: auto; margin-bottom: 3rem;
}
