<div
  *ngIf="cart?.totalPositions"
  class="cart"
  [style.height]="isSpread ? '100vh' : 'auto'"
  (click)="openDetails()">

  <header>
    <ion-icon name="close-outline" class="close" (click)="closeDetails(); $event.stopPropagation()"></ion-icon>
    <p class="cart-icon"><ion-icon name="cart-outline"></ion-icon></p>
    <p class="cart-name">Cart:</p>
    <p class="cart-total">{{ cart.totalPositions }}</p>
  </header>

  <main *ngIf="isSpread">
    <section *ngIf="objectNotEmpty(cart.dishes)" class="section section-dishes">
      <h2 class="dishes-header">Dishes</h2>

      <div *ngFor="let dish of cart.dishes" class="dish">
        <p class="dish__position">{{ dish.key }}</p>
        <p class="dish__amount">{{ dish.value }}</p>
        <ion-icon name="trash-outline" class="dish__remove-icon" (click)="removePosition(dish, false,true); $event.stopPropagation()"></ion-icon>
      </div>
    </section>

    <section *ngIf="objectNotEmpty(cart.drinks)" class="section section-dishes">
      <h2 class="dishes-header">Drinks</h2>

      <div *ngFor="let drink of cart.drinks" class="dish">
        <p class="dish__position">{{ drink.key }}</p>
        <p class="dish__amount">{{ drink.value }}</p>
        <ion-icon name="trash-outline" class="dish__remove-icon" (click)="removePosition(drink, true, false); $event.stopPropagation()"></ion-icon>
      </div>
    </section>
  </main>

  <footer *ngIf="isSpread">
    <p>Table number</p>
    <input
      class="table-id"
      name="tableid"
      type="number"
      required
      [formControl]="tableIdControl">
    <button type="submit" [disabled]="tableIdControl.invalid" (click)="sendPost()">Make order</button>
  </footer>

</div>
