.cart {
  position: sticky; top: 0; z-index: 2;
  height: 5vh;
  background-color: yellow;

  .cart-total {
    padding: 2px 6px;
    margin-left: 0.25rem;
    border-radius: 10%;
    background-color: #7ed321;
  }

  header {
    display: flex; justify-content: center; align-items: center;
    position: relative;
    padding: 0.5rem;
  }

  .dishes, .dish {
    padding: 0 1rem 0 .5rem;
  }

  .dish {
    display: flex;

    .dish__amount {
      margin-right: 1rem;
      margin-left: auto;
    }
  }
}

.spread {
  background-color: yellow;
  transition: height 0.3s ease-in-out;
}

.close {
  position: absolute; right: 5%; top: 50%;
  transform: translateY(-50%);
  display: flex; flex-direction: column; justify-content: center;
  font-size: 2rem;
}
