// -----------------------TABLE------------------------
.table {
  width: 100%;
  border-collapse: collapse;

  .first-column {
    text-align: center;
  }

  .second-column {
    position: relative;

    .remove-icon {
      font-size: 1.5rem;
      position: absolute; right: 1rem; top: 0.5rem;
    }
  }
}

.container {
  height: 100%;
  display: flex; align-items: center; justify-content: center;
}

.separateOrder {
  &:not(:last-child) {
    padding-bottom: 1rem;
  }
}
