<div #grid class="grid position">
  <app-representation
    *ngFor="let dish of dishes"
    class="dish"
    [data]="data"
    [represent]="dish">
  </app-representation>
</div>

<div
  *ngIf="showDetails"
  class="fogging"
  [style.bottom.px]="bottomIndent"
  (touchmove)="touchMove($event); $event.preventDefault()"
  (touchend)="closeDetails()">
</div>

<app-menu-item-details
  *ngIf="showDetails"
  class="menu-item-details"
  [ngStyle]="{ 'bottom': isCartEmpty ? bottomIndent + 'px' : 'calc(' + bottomIndent + 'px + 5vh)'}"
  [data]="data"
  [menuItem]="tappedMenuItem"
  @heightOpenClose
  (touchmove)="touchMove($event); $event.preventDefault()"
  (touchend)="closeDetails()">
</app-menu-item-details>
