<div #grid class="grid position">
  <app-representation
    *ngFor="let dish of dishes"
    class="dish"
    [represent]="dish">
  </app-representation>
</div>

<div *ngIf="showMenuItemDetails" class="fogging" [style.bottom.px]="bottomIndent" (touchmove)="touchMove($event)"></div>

<app-menu-item-details
  *ngIf="showMenuItemDetails"
  class="menu-item-details"
  [ngStyle]="{ 'bottom': cartService.isCartEmpty ? bottomIndent + 'px' : 'calc(' + bottomIndent + 'px + 5vh)'}"
  [menuItem]="tappedMenuItem"
  @heightOpenClose
  (touchmove)="touchMove($event)">
</app-menu-item-details>
