:host {
  position: relative;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  max-width: 2560px;
  padding: 2%;
}

.position {
  margin: 0 auto;
}

@media screen and (max-width: 300px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.menu-item-details, .fogging {
  position: absolute; left: 0; right: 0;
  background-color: white;
}

.fogging {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
}


