<div class="frame" (click)="menuItemTapped()">
  <picture class="image">
    <source
      [srcset]="'assets/' + positionsType + '/' + representation.name + '_320.jpg'"
      type="image/jpg"
      media="all and (max-width: 1125px)">
    <source
      [srcset]="'assets/' + positionsType + '/' + representation.name + '_640.jpg'"
      type="image/jpg"
      media="all and (min-width: 1126px)">
    <img [src]="'assets/' + positionsType + '/' + representation.name + '_640.jpg'">
  </picture>

  <div class="nomination">{{ representation.name }}</div>
  <div class="info">
    <div class="price">{{ representation.price + '₽' }}</div>
    <div class="weight">{{ representation.weight + 'г' }}</div>
  </div>
</div>
