<div #grid class="grid position">
  <app-representation
    *ngFor="let position of positions"
    [positionsType]="positionsType"
    [representation]="position">
  </app-representation>
</div>

<div
  *ngIf="showDetails"
  class="fogging"
  [style.bottom.px]="bottomIndent"
  (touchmove)="touchMove($event); $event.preventDefault()"
  (touchend)="closeDetails()">
</div>

<app-menu-item-details
  *ngIf="showDetails"
  class="position-details"
  [ngStyle]="{ 'bottom': isCartEmpty ? bottomIndent + 'px' : 'calc(' + bottomIndent + 'px + 5vh)'}"
  [positionsType]="positionsType"
  [position]="tappedPosition"
  @heightOpenClose
  (touchmove)="touchMove($event); $event.preventDefault()"
  (touchend)="closeDetails()">
</app-menu-item-details>
